body{
    background-image: url(prsneaker.jpg);
}

header{
    text-align: center;
    font-size: 50px;
}
h1{
    text-align: center;
    font-size: 40px;
}

nav{
    font-size: 35px;
}

img.simpreforce{
    
    height: 550px;
}

img{

    width: 500px;
    border-radius: 25%;
    position: relative;
    left: center; 
}

div.tenis{

    text-align: center;
    font-family: monospace;
    font-size: 35px;
}

a.electro:hover{

    color: #FB5607
}

a.electro:active{

    color: #FB5607;
}

.electro{

    border: 15px solid white;
    background: 15px local white;
    border-radius: 65%;
    color: black;
    text-decoration:none ;
}

a.pollen:hover{

    color: #FFBF00;
}

a.pollen:active{

    color: #FFBF00;
}

.pollen{

    border: 15px solid white;
    background: 15px local white;
    border-radius: 65%;
    color: black;
    text-decoration:none ;
}

a.dunkfamilia:hover{
    color: #095256;
}

a.dunkfamilia:active{
    color: #095256;
}

.dunkfamilia{

    border: 15px solid white;
    background: 15px local white;
    border-radius: 65%;
    color: black;
    text-decoration:none;
    
}


a.siempreforce:hover{
    color: #FB5607
}

a.siempreforce:active{
    color: #FB5607;
}

.siempreforce{

    border: 15px solid white;
    background: 15px local white;
    border-radius: 65%;
    color: black;
    text-decoration:none ;
}

a.mummy:hover{
    color: #04F06A;
}

a.mummy:active{
    color: #04F06A;
}

.mummy{

    border: 15px solid white;
    background: 15px local white;
    border-radius: 65%;
    color: black;
    text-decoration:none ;
}

a.chocolate:hover{
    color: #6a6157;
}

a.chocolate:active{
    color: #6a6157;
}

.chocolate{ 

    border: 15px solid white;
    background: 15px local white;
    border-radius: 65%;
    color: black;
    text-decoration:none ;
}
